html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding: 0;
}
